.container {
    padding: 0;
    margin: 0;
    height: 80vh;
}

#point{
    font-size: 5rem;
}

#big_pointBoard {
    position: absolute;
    top: 0;
    height: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background-color:white;
}

#big_pointBoard span{
    font-size: 10rem;
}
.rotate {
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
    transform: rotate(-90deg);
}